@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
}

body {
    background-color: rgb(48, 163, 201);
}

section {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
}

div{
    padding: 10px;
}


input {
    padding:3px;
    margin: 10px;
}

img {
    width: 300px;
    height: 250px;
    margin-top: 30px;
}

footer {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);
}